#change_me{
    position: absolute;
    top: 100px;
    left: 400px;
    font: 24px arial;
}
#move_up #move_down #color #disappear{
    padding:5px;
}

/*a:link img, a:visited img{*/
/*    display:none;*/
/*}*/
/*a:hover img, a:active img{*/
/*    display:block;*/
/*}*/
/*a{*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*}*/

#clickMe{
    background-color: #D8B36E;
    padding: 20px;
    text-align: center;
    width: 205px;
    display: block;
    border: 2px solid #000;
}
#picframe{
    background-color: #D8B36E;
    padding: 20px;
    text-align: center;
    width: 205px;
    display: none;
    border: 2px solid #000;
}

div {
    float:left;
    text-align: left;
    border: solid #000 3px;
}

#header{
    height: 80px;
    width: 100%;
    border: 0;
}

#main{
    background-color: grey;
    height: 500px;
    width: 100%;
}

.guessBox{
    height: 300px;
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
}

img{
    height: 300px;
    width: 100%;
}